.app{
  margin-top: 20vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app > p {
  font-size: 8vw;
}

.buttons {
  font-size: xx-large;
  margin: 0 2vw;
  cursor: pointer;
  border: none;
  padding: 1vh 1vw;
  border-radius: 5px;
}

.startButton {
  background-color: green;
}

.stopButton {
  background-color: red;
}
